@charset 'UTF-8';

h2{
    color: white;
    font-size: 14px;
}

/* Smarthphones (largura de 600px para baixo) */
@media only screen and (max-width:600px){
    body{
        background-color: blue;
    }
}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos tablets e smartphones mais largos, 600px para cima) */
@media only screen and (min-width: 600px){
    body{
        background-color: green;
    }
}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {
    body{
        background-color: yellow;
    }
    h2{
        font-size: 18px;
        color: black;
    }
}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {
    body{
        background-color: red;
    }
    .exemplo{
        display: none;
    }
}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {
    body{
        background-color: violet;
    }
}